# Secrets
.env
backend/.env
backend/certs/
frontend/.env

# Android
frontend/android/app/debug.keystore
frontend/android/app/build/
frontend/android/.gradle/
frontend/android/build/

# Dependencies
frontend/node_modules/
backend/node_modules/

